<center>
  <div style="width:90%; max-width:860px; align:center;">  
    <div class="demo-tooltips">
      <p data-toggle="tooltip" title="" data-original-title="로그인 후에 이용할 수 있습니다.">
      </p>
      <div class="tooltip fade top in" style="top: -69px; display: block;">
        <div class="tooltip-arrow">
        </div>
        <div class="tooltip-inner">
         로그인 후에 이용할 수 있습니다. 
        </div>
      </div>
      <div class="img-container">
        <img src ="/Retina-Ready@2x.png">
      </div>
    </div>
  </div>
</center>
