<center>
  <div>
    <% if session[:id]==nil%>
      <div class="dialog demo-dialog">
        <form class="control-group" action="/user/login_process" method="POST">
          <input  name="user_id" type="text" placeholder="Login/ID" class="flat" />
          <input  name="password" type="password" placeholder="Password" class="flat" />
          <button type="submit" class="btn btn-primary btn-wide">로그인</button>
          <input type="button" class="btn btn-danger btn-wide" onclick="location.href='/user/pre_sign_up'" value="회원가입" style="width=140px">
        </form>
      </div> <!-- /dialog -->
    <%else%>
  <!--
    <div class="demo-tooltips">
      <p data-toggle="tooltip" title="" data-original-title="로그인 후에 이용할 수 있습니다.">
      </p>
      <div class="tooltip fade top in" style="top: -69px; display: block;">
        <div class="tooltip-inner">
        <div style="float:left; text-align: center; font-size: 12px">
          <p style="text-align:center; font-size:12px;  line-height:37px;"> 안녕하세요 <%=session[:name]%> 님 </p>
        <br>
        <br>
        </div>
          <p style="text-align:center; font-size:12px;  line-height:37px;"> 안녕하세요 <%=session[:name]%> 님 </p>
        </div>
      </div>
    </div>
    --!>
<!--
      <div class="dialog demo-dialog">
        <div style="float:left; text-align: center; font-size: 12px">
          <p style="text-align:center; font-size:12px;  line-height:37px;"> 안녕하세요 <%=session[:name]%> 님 </p>
        <br>
        <br>
        </div>
        <div class = "span2" style="float:right; line-height:37px;"> 
          <center>
          <button class="btn btn-small btn-danger";  href="/user/logout">로그아웃</button>
          </center>
        </div>
        <br>
        <br>
      </div>
--!>
    <%end%>
  </div>
  <div style="width:90%; max-width:860px; align:center;">  
    <div class="demo-tooltips">
      <p data-toggle="tooltip" title="" data-original-title="로그인 후에 이용할 수 있습니다.">
      </p>
      <div class="tooltip fade top in" style="top: -69px; display: block;">
        <div class="tooltip-arrow">
        </div>
        <div class="tooltip-inner">
         로그인 후에 이용할 수 있습니다. 
        </div>
      </div>
      <div class="img-container">
        <img src ="/Retina-Ready@2x.png">
      </div>
    </div>
  </div>
</center>
