<center>
  <div style="width:90%; max-width:860px; ">
      <div style="text-align:center;">
      </div>

    <div id="work">
      <div class="twelve columns offset-by-two">
      
              <ul id="cbp-ntaccordion" class="cbp-ntaccordion">
  <!--                     <li class="cbp-ntopen"> -->
<!--
                          <li>
                              <h3 class="cbp-nttrigger">개인정보의 수집 및 이용 목적</h3>
                              <div class="cbp-ntcontent">

                              </div>
                          </li>
-->

                          <li>
                              <h3 class="cbp-nttrigger">[제 1 장 총칙]</h3>
                              <div class="cbp-ntcontent">
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 1 조 (목적)&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">이 약관은 데일리벳(이하 &lsquo;회사&rsquo;)이 제공하는 인터넷 관련 서비스(이하 &lsquo;서비스&rsquo;)를 이용함에 있어 이용자와 회사의 권리 의무 및 관련 절차 등을 규정하는데 그 목적이 있습니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 2 조 (약관의 효력 및 변경)&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 이 약관은 서비스를 통하여 알리거나, 전자우편 등의 방법으로 회원에게 알림으로써 효력이 발생됩니다.</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 회사는 사정 변경의 경우와 영업상 주요사유가 있을 때 사전 고지 없이 관계법률 및 법령하에 약관을 개정할 수 있습니다. 변경된 약관은 ①의 방법으로 회원에게 공지됨으로써 효력이 발생됩니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 3 조 (약관 이외의 준칙)&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 이 약관에 언급되지 않은 사항이 전기통신기본법, 전기통신사업법, 정보통신망 이용촉진 및 정보 보호 등에 관한 법률, 기타 관련법령에 규정되어 있는 경우 그 규정에 따라 적용할 수 있습니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 이 약관은 회사가 제공하는 개별서비스에 관한 이용안내와 함께 적용합니다.</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  &nbsp;
                                </p>

                              </div>
                          </li>

                          <li>
                              <h3 class="cbp-nttrigger">[제 2 장 서비스 이용계약]</h3>
                              <div class="cbp-ntcontent">
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 4 조 (이용계약의 성립)&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 회원이 본 서비스에 가입하고자 신청하는 경우에는 먼저 본 약관을 읽고 동의하여야 합니다. 이 때, 회원이 온라인상의 &#39;동의함&#39; 버튼을 클릭하면 이 약관에 동의하는 것으로 간주됩니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② &#39;회원&#39;이 변경된 약관에 동의하지 않을 경우, &#39;서비스&#39; 이용을 중단하고 탈퇴할 수 있습니다. 약관이 변경되어 제2조에 의하여 효력이 발생한 이후에도 계속적으로 &#39;서비스&#39;를 이용하는 경우에는 &#39;회원&#39;이 약관의 변경 사항에 동의한 것으로 봅니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ 이용계약은 서비스 이용희망자의 이용약관 동의 후 이루어지는 이용 신청에 대하여 회사가 승낙함으로써 성립합니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">④ 회사는 제7조에 정하여 진 바에 따라 이용희망자의 서비스 이용신청에 대하여 동의합니다. 단, 가입신청자가 본 약관 제10조에 의하여 이전에 회원자격을 상실한 적이 있는 경우에는 회사의 명시적 거부가 없더라도 회사는 동의한 것으로 인정되지 않습니다. 다만 제10조에 의한 회원자격 상실 후 7일이 경과한 자는 회사의 회원 재가입 승낙을 얻어 회원에 다시 가입할 수 있습니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <br />
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 5 조 (회원의 탈퇴 및 자격 상실)&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 회원은 회사에 언제든지 자신의 회원 등록을 말소해 줄 것(회원 탈퇴)을 요청할 수 있으며 회사는 위 요청을 받은 즉시 해당 회원의 회원 등록 말소를 위한 절차를 밟습니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 회원이 다음 각 호의 사유에 해당하는 경우, 회사는 회원의 회원자격을 적절한 방법으로 제한 및 정지, 상실 시킬 수 있습니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">가. 가입 신청 시에 허위 내용을 등록한 경우&nbsp;<br />
                                  나. 다른 사람의 회사 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우&nbsp;<br />
                                  다. 법령 및 본 약관을 위반한 경우&nbsp;<br />
                                  라. 사회의 안녕과 질서, 미풍양속을 저해할 목적으로 등록하는 경우&nbsp;<br />
                                  마. 위와 같은 행위에 준하는 행위나 제20조 제2항에 규정한 행위를 하여 회사가 더 이상 회원의 자격을 유지하기 곤란하다고 판단한 경우</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ 제2항에 의하여 회사가 회원의 회원자격을 상실시키기로 결정한 경우에는 회원등록을 직권 말소 합니다&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <br />
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 6 조 (이용신청)&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 본 서비스를 이용하기 위해서는 소정의 가입신청 양식에서 요구하는 회원 정보를 기록하여 신청해야 합니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 가입신청 양식에 쓰는 모든 회원 정보는 모두 실제 데이터인 것으로 간주됩니다. 실명이나 실제 정보를 입력하지 않은 사용자는 법적인 보호를 받을 수 없으며, 서비스의 제한을 받을 수 있습니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <br />
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 7 조 (이용신청의 승낙)&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 회사는 제 5,6,조의 각 조항에 위배되는 경우를 제외하곤 서비스 이용신청을 승낙합니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 회사는 다음에 해당하는 경우, 그 사유가 해소될 때까지 승낙을 유보할 수 있습니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">가. 서비스 관련 설비에 여유가 없는 경우&nbsp;<br />
                                  나. 기술상 지장이 있는 경우&nbsp;<br />
                                  다. 가입해지 이후 일정한 기간이 경과하지 않은 경우&nbsp;<br />
                                  라. 기타 회사가 필요하다고 인정되는 경우&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ 회사는 다음에 해당하는 경우, 가입을 승낙하지 않을 수 있습니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">가. 다른 사람의 명의 또는 가명등 타인의 정보를 사용하여 신청하였을 경우<br />
                                  나. 이용신청시 필요내용을 허위로 기재하여 신청한 경우&nbsp;<br />
                                  다. 사회의 안녕 질서 또는 미풍양속을 저해할 목적으로 신청한 경우&nbsp;<br />
                                  라. 기타 회사가 정한 이용신청 요건에 맞지 않을 경우&nbsp;<br />
                                  마. 선정적이고 음란한 내용의 아이디를 신청할 경우&nbsp;<br />
                                  바. 반사회적이고 관계법령에 저촉되는 아이디를 신청할 경우&nbsp;<br />
                                  사. 비어, 속어라고 판단되는 아이디를 신청할 경우&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">④ &#39;회원&#39;은 타회원의 정보 중 공개가 되어 있는 부분을 볼 수 있으며, 자신의 정보도 공개/비공개를 선택할 수 있습니다.&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <br />
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 8 조 (회원정보의 변경)&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">회원은 이용신청 시 기재한 회원정보가 변경되었을 경우에는, 온라인으로 수정을 하여야하며 변경을 하지 않아 생기는 문제의 책임은 회원에게 있습니다&nbsp;</span></span>
                                </p>
                                <p style="text-align: justify;">
                                  <br />
                              </div>
                          </li>
                          <li>
                              <h3 class="cbp-nttrigger">[제 3 장 계약 당사자의 의무]</h3>
                              <div class="cbp-ntcontent">
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 9 조 (회사의 의무)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 회사는 서비스 제공과 관련하여 취득한 회원의 개인정보를 본인의 사전 승낙 없이 타인에게 누설, 공개 또는 배포할 수 없으며, 서비스관련 업무 이외의 상업적 목적으로 사용 할 수 없습니다. 단, 다음에 해당하는 경우는 예외입니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">가. 정보 주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">나. 금융실명거래 및 비밀보장에 관한 법률, 신용정보의 이용 및 보호에 관한 법률, 전기통신기본법, 전기통신사업법, 지방세법, 소비자보호법, 한국은행법, 형사소송법 등 법률에 특별한 규정이 있는 경우&nbsp;<br />
  다. 전기통신기본법, 전기통신 사업법, 지방세법, 소비자보호법, 한국은행법, 형사소송법 등 법령에 특별한 규정이 있는 경우&nbsp;<br />
  라. 통계작성/학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우&nbsp;<br />
  마. 회원의 개인정보 제공 동의하에 이벤트 참여 및 기타 보다 나은 서비스 제공을 위하여 이벤트 주최 및 후원하는 비즈니스 파트너 및 제휴사와는 회원의 일부 정보를 공유하는 경우&nbsp;<br />
  바. 공지된 비즈니스파트너 및 제휴사가 제공하는 상품이나 서비스제공을 위한 경우&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">다만, 마, 바 항의 경우에 회사는 비즈니스 파트너 및 제휴사에게 회원의 정보를 타인에게 누설하지 않을 것을 요구합니다. 그럼에도 불구하고 비즈니스 파트너 및 제휴사가 회원의 정보를 타인에게 누설하는 경우 회사는 고의, 중과실이 없는 한 누설에 대한 책임을 면합니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② ①항의 범위 내에서, 회사는 업무와 관련하여 회원 전체 또는 일부의 개인 정보에 관한 통계 자료를 작성하여 이를 사용할수 있고, 서비스를 통하여 회원의 컴퓨터에 쿠키를&nbsp;<br />
  전송할 수 있습니다.&nbsp;<br />
  이 경우 회원은 쿠키의 수신을 거부하거나 쿠키의 수신에 대하여 경고하도록 사용하는 컴퓨터의 브라우져의 설정을 변경할 수 있습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ 회사는 회원에게 회원의 서비스 이용 및 회사의 각종 행사 또는 정보서비스에 대해서 E메일이나 서신우편, SMS 등 유무선 통신 수단 등의 방법으로 회원에게 제공할 수 있습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">④ 회사는 회원으로부터 제기되는 불만이 정당하다고 인정할 경우에는 즉시 처리함을 원칙으로 합니다. 다만 즉시 처리가 곤란한 경우에는 회원에게 그 사유와 처리 일정을 통보합니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">&nbsp;<br />
  제 10 조 (회원의 의무)&nbsp;<br />
  ① &#39;회원&#39;은 관계법령, 이 약관의 규정, 이용안내 및 주의사항 등 &#39;회사&#39;가 공지 또는 통지하는 사항을 준수해야 하며, 기타 &#39;회사&#39;의 업무에 방해되는 행위를 할 수 없습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② &#39;회원&#39;은 &#39;회사&#39;의 사전 승낙 없이 서비스를 이용하여 어떠한 영리행위도 할 수 없습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ &#39;회원&#39;은 서비스를 이용하여 얻은 정보를 &#39;회사&#39;의 사전 승낙 없이 복사, 복제, 변경, 번역, 출판, 방송 및 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">④ &#39;회원&#39;은 사진을 포함한 이미지 사용시 피사체에 대한 초상권, 상표권, 특허권 및 기타 권리를 자신이 취득해야 하며 만일 이들 권리에 대한 분쟁이 발생할 경우 회원이 모든 책임을 부담해야 합니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">⑤ 회원은 서비스 이용 시 다음 각 호의 행위를 하지 않아야 합니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">가. 다른 회원의 ID및 개인정보를 수집, 저장하여 부정하게 사용하는 행위&nbsp;<br />
  나. 서비스에서 얻은 정보를 회사의 사전승낙 없이 회원의 이용 이외의 목적으로 복제 하거나 이를 변경, 출판 및 방송 등에 사용하거나 타인에게 제공하는 행위&nbsp;<br />
  다. 회사의 저작권, 타인의 저작권 등 기타 권리를 침해하는 행위&nbsp;<br />
  라. 공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형 등을 타인에게 유포하는 행위&nbsp;<br />
  마. 범죄와 결부된다고 객관적으로 판단되는 행위&nbsp;<br />
  바. 타인의 명예를 훼손하거나 모욕하는 행위&nbsp;<br />
  사. 해킹 또는 컴퓨터바이러스를 유포하는 행위&nbsp;<br />
  아. 광고 또는 광고성 정보를 전송하거나 기타 영업을 위한 행위&nbsp;<br />
  자. 서비스의 안정적인 운영에 지장을 주거나 줄 우려가 있는 일체의 행위&nbsp;<br />
  차. 기타 관계법령에 위배되는 행위&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">⑥ 회원은 관계법령, 이 약관에서 규정하는 사항, 서비스 이용 안내 및 주의 사항을 준수하여야 합니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">⑦ 회원은 내용별로 회사가 서비스 공지사항에 게시하거나 별도로 공지한 이용 제한 사항을 준수하여야 합니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">⑧ 회원은 회사의 사전 승낙없이 서비스를 이용하여 어떠한 영리행위도 할 수 없습니다.&nbsp;</span></span>
</p>

                              </div>
                          </li>
                          <li>
                              <h3 class="cbp-nttrigger">[제 4 장 서비스 제공 및 이용]</h3>
                              <div class="cbp-ntcontent">
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 11 조 (서비스의 범주)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 이 약관은 회사에서 제공하는 모든 서비스에 기본적으로 적용되며, 다른 항의 별도 조항이 요구되는 서비스에는 부속약관을 둘 수 있습니다.&nbsp;<br />
  가. 회사의 비즈니스 파트너 및 제휴사들로부터 제공하는 서비스 범주&nbsp;<br />
  나. 커뮤니티 서비스 범주&nbsp;<br />
  다. 유,무형의 전자상거래 범주&nbsp;<br />
  라. 기타 회사가 정한 부가서비스 범주&nbsp;</span></span><br />
  &nbsp;
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 12 조 (회원 아이디(ID)와 비밀번호 관리에 대한 회원의 의무)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 아이디(ID)와 비밀번호에 대한 모든 관리는 회원에게 책임이 있습니다. 회원에게 부여된 아이디(ID)와 비밀번호의 관리소홀, 부정사용에 의해 생기는 모든 결과는 전적으로 회원에게 그 책임이 있습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 자신의 아이디(ID)가 부정하게 사용된 경우 또는 기타 보안 위반에 대하여, 그러한 사실을 안 경우 회원은 반드시 회사에 그 사실을 통보해야 합니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <br />
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 13조 (정보의 제공)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 회사는 회원이 서비스 이용 중 필요하고 인정되는 다양한 정보에 대해서 전자메일이나 문자서비스, 서신우편 등의 방법으로 회원에게 제공할 수 있습니다.</span></span>
</p>
<p style="text-align: justify;">
  <br />
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 14조 (광고주와의 거래)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">본 사이트에는 회사 이외의 광고주의 판촉활동을 위한 서비스가 포함되어 있습니다. 회사는 본 사이트에 게재되어 있거나 본 서비스를 통한 광고주의 판촉활동에 회원이 참여하여 거래한 결과로서 발생하는 모든 손실과 손해에 대해 책임을 지지 않습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 15조 (회원의 게시물)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">회사는 회원이 본 서비스를 통하여 게시, 게재, 전자메일 또는 달리 전송한 내용물에 대해 일체 민,형사상의 책임을 지지 않으며, 다음의 경우에 해당될 경우 사전통지 없이 삭제할 수 있습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 다른 회원이나 타인을 비방하거나, 프라이버시를 침해하거나, 중상모략으로 명예를 손상시키는 내용인 경우&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 서비스의 안정적인 운영에 지장을 주거나 줄 우려가 있는 경우&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ 범죄적 행위에 관련된다고 인정되는 내용일 경우&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">④ 회사의 지적재산권, 타인의 지적재산권 등 기타 권리를 침해하는 내용인 경우&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">⑤ 과장광고 인한 피해사실을 통보 받을 경우</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">⑥ 회사에서 규정한 게시기간을 초과한 경우&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">⑦ 기타 관계법령에 위반된다고 판단되는 경우&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  &nbsp;
</p>
<p style="text-align: justify;">
  <br />
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 16 조 (게시물에 대한 권리 및 책임)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 본 사이트의 모든 게시물에 대한 저작권은 회사에 귀속됩니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 회원이 게시한 저작물의 저작권은 회원의 소유에 속합니다. 다만 회원은 회사에 무료로 이용할 수 있는 권리를 허락한 것으로 봅니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ 회사소유의 게시물에 대한 보호는 회사에서 하며, 회사의 허가 없이 타인에 의해 게시물이 다른 사이트에서 사용 또는 인용되는 것은 금지 됩니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <br />
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 17 조 (서비스 이용시간)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">서비스는 회사의 업무상 또는 기술상의 장애, 기타 특별한 사유가 없는 한 연중무휴, 1일 24시간 이용할 수 있습니다. 다만 설비의 점검 등 회사가 필요한 경우 또는 설비의 장애, 서비스 이용의 폭주 등 불가항력으로 인하여 서비스 이용에 지장이 있는 경우, 예외적으로 서비스 이용의 전부 또는 일부에 대하여 제한할 수 있습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 18 조 (서비스 이용 책임)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">회원은 서비스를 이용하여 불법 상품을 판매하는 영업 활동을 할 수 없으며 특히 해킹, 돈벌기 광고, 음란사이트를 통한 상업행위, 상용 S/W 불법배포 등을 할 수 없습니다. 이에 위반하여 발생한 민사상 또는 형사상 책임에 대하여 회사는 아무런 책임이 없습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <br />
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 19 조 (서비스 제한 및 정지)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">회사는 전시, 사변, 천재지변 또는 이에 준하는 국가비상사태가 발생하거나 발생할 우려가 있는 경우와 전기통신사업법에 의한 기간통신 사업자가 전기통신서비스를 중지하는등 기타 불가항력적 사유가 있는 경우에는 서비스의 전부 또는 일부를 제한하거나 정지할 수 있습니다.&nbsp;</span></span>
</p>

                              </div>
                          </li>
                          <li>
                              <h3 class="cbp-nttrigger">[제 5 장 기타]</h3>
                              <div class="cbp-ntcontent">
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 20 조 (계약해지 및 이용제한)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 회원이 이용계약을 해지하고자 하는 때에는 회원 본인이 회사에 해지신청을 해야 합니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 회사는 회원이 다음에 해당하는 행위를 하였을 경우 사전통지 없이 이용계약을 해지하거나 또는 기간을 정하여 서비스 이용을 중지할 수 있습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">가. 타인의 서비스 ID 및 비밀번호를 도용한 경우&nbsp;<br />
  나. 서비스 운영을 고의로 방해한 경우&nbsp;<br />
  다. 공공질서 및 미풍양속에 저해되는 내용을 고의로 유포시킨 경우&nbsp;<br />
  라. 회원이 국익 또는 사회적 공익 또는 본사의 서비스의 질을 저해할 목적으로 서비스이용을 계획 또는 실행하는 경우&nbsp;<br />
  마. 타인의 명예를 손상시키거나 불이익을 주는 행위를 한 경우&nbsp;<br />
  바. 서비스의 안정적 운영을 방해할 목적으로 다량의 정보를 전송하거나 광고성 정보를 전송하는 경우&nbsp;<br />
  사. 정보통신설비의 오작동 이나 정보 등의 파괴를 유발시키는 컴퓨터 바이러스 프로그램등을 유포하는 경우&nbsp;<br />
  아. 회사, 다른 회원 또는 타인의 지적재산권을 침해하는 경우&nbsp;<br />
  자. 정보통신윤리위원회 등 외부기관의 시정요구가 있거나 불법선거 운동과 관련하여 선거관리위원회의 유권해석을 받은 경우&nbsp;<br />
  차. 타인의 개인정보, 회원ID 및 비밀번호를 부정하게 사용하는 경우&nbsp;<br />
  카. 회사의 서비스 정보를 이용하여 얻은 정보를 회사의 사전 승낙없이 복제 또는 유통시키거나 상업적으로 이용하는 경우&nbsp;<br />
  타. 회원이 자신의 홈페이지와 게시판에 음란물을 게재하거나 음란사이트를 링크하는 경우&nbsp;<br />
  파. 본 약관을 포함하여 기타 회사가 정한 이용조건 및 관계법령을 위반한 경우&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <br />
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 21 조 (손해배상)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">회사는 서비스 이용과 관련하여 회원에게 발생한 손해에 대하여 고의, 중과실이 없는 한 배상책임을 지지 않습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 22 조 (담보)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 회사에서 제공하는 각종 정보, 회사의 비즈니스 파트너 및 제휴사들로부터 제공되는 정보 또는 특정전문가가 제공하는 정보(질문 및 대답 등의 형식으로 이루어지는 것 포함)는 과학적 실험절차와 검증절차를 거치지 않은 것일 수 있습니다. 회사는 위와 같은 정보에 대하여 그 내용의 신뢰도나 정확성을 담보하지 않습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 회사는 회원이 서비스에 게재한 정보, 자료, 사실의 신뢰도, 정확성 등에 대하여 담보하지 않습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ 회사가 담보하지 않은 사항에 대하여는 제24조에서 정하는 바에 의하여 책임을 제한 또는 면제할 수 있습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제23조 (양도금지)&nbsp;<br />
  &#39;회원&#39;이 서비스의 이용권한, 기타 이용계약상 지위를 타인에게 양도하거나 담보로 제공할 수 없습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제24조 (면책조항)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① 회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② 회사는 회원의 잘못으로 인해 서비스 이용의 장애가 발생한 경우에는 책임이 면제됩니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ 회사는 회원이 회사의 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나, 서비스 자료에 대한 취사 선택 또는, 이용으로 발생하는 손해 등에 대해서는 책임이 면제됩니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">④ 회사는 제22조에서 회사가 담보하지 않은 사항으로 인하여 발생한 손해에 대하여 책임이 면제됩니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <br />
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 25조 (분쟁의 해결 및 관할법원)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① &#39;회사&#39;와 &#39;회원&#39;은 서비스와 관련하여 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 해야 합니다.&nbsp;<br />
  ② 제1항의 규정에도 불구하고, 동 분쟁으로 인하여 소송이 제기될 경우에는 &#39;회사&#39;의 소재지를 관할하는 법원을 관할법원으로 합니다.&nbsp;<br />
  ③ &#39;회사&#39;와 이용자간에 제기된 전자거래 소송에는 한국법을 적용합니다.&nbsp;</span></span>
</p>

                              </div>
                          </li>
                          <li>
                              <h3 class="cbp-nttrigger">[제 6 장 부속조항]</h3>
                              <div class="cbp-ntcontent">
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">제 26조 (커뮤니티 및 기타 사이트 관련 규정)&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">회원약관 제4장 11조에 의거, 커뮤니티 상세 서비스범주와 관련되어 약관을 다음과 같이 정의합니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">① &#39;회사&#39;의 &#39;회원&#39;자격을 획득한 회원은 &#39;회사&#39;의 커뮤니티의 &#39;회원&#39;으로 자동 등록됩니다&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">② &#39;회사&#39;의 커뮤니티 중 일부 커뮤니티의 서비스를 받기 위해서 &#39;회원&#39;은 별도의 상세정보를 기입해야 할 수도 있습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">③ 커뮤니티 서비스 이용에 따른 회원의 의무조항은 &#39;회사&#39;의 회원약관과 관계법률규정 및 관행에 따릅니다.&nbsp;<br />
  ④ 회사는 다수 회원의 원활한 서비스 이용을 위해 사전통보 없이 게시물 데이터 분리, 게시판 이동 등의 기술적 조처를 취할 수 있습니다.&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;">[부칙]&nbsp;<br />
  이 약관은 2013년 4월 30일부터 시행합니다.</span></span>
</p>
<p style="text-align: justify;">
  &nbsp;
</p>
                           <li>
                               <h3 class="cbp-nttrigger">데일리벳 개인정보 보호정책</h3>
                               <div class="cbp-ntcontent">
<p style="text-align: justify;">
  &nbsp;
</p>
<p style="text-align: justify;">
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">&#39;데일리벳&#39; 은 (이하 &#39;회사&#39;는) 고객님의 개인정보를 중요시하며, &#39;정보통신망 이용촉진 및 정보보호&#39;에 관한 법률을 준수하고 있습니다.<br />
  회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">&omicron; 본 방침은 : 2013 년 4 월 30 일 부터 시행됩니다.&nbsp;<br />
  회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">&omicron; 수집항목 : 이름 , 로그인ID , 비밀번호 , 이메일 , 수의사직종(수의사한정) , 수의대학번(수의대학생 한정) , 은행계좌 정보 , 서비스 이용기록 , 접속 로그 , 쿠키 , 접속 IP 정보 , 결제기록 , 면허번호(수의사 한정)</span></span>
</p>
<p style="text-align: justify;">
  <br />
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">&omicron; 개인정보 수집방법 : 홈페이지(회원가입) , 경품 행사 응모 , 배송 요청 , 이벤트 응모&nbsp;</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">&nbsp;<br />
  회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">&omicron; 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산<br />
  콘텐츠 제공 , 구매 및 요금 결제<br />
  &omicron; 회원 관리<br />
  가입 의사 확인 , 고지사항 전달<br />
  &omicron; 마케팅 및 광고에 활용<br />
  신규 서비스(제품) 개발 및 특화 , 이벤트 등 광고성 정보 전달 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재 , 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계<br />
  &omicron; 기타<br />
  이벤트 응모</span></span>
</p>
<p style="text-align: justify;">
  <br />
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">개인정보의 보유 및 이용기간</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">회사는 회원 탈퇴를 요청하거나 개인정보의 수집 및 이용에 대한 동의를 철회하는 경우, 수집 및 이용목적이 달성되거나 보유 및 이용기간이 종료한 경우 해당 개인정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br />
  1) 회사 내부 방침에 의한 정보보유 사유<br />
  보존 항목: 이름, 생년월일, 성별, 로그인ID, 자택 전화번호, 자택 주소, 휴대전화번호, 주민등록번호<br />
  보존 근거: 서비스 이용의 혼선 방지, 불법적 사용자에 대한 관련 기관 수사협조<br />
  보존 기간: 1년<br />
  2) 관련 법령에 의한 정보보유 사유&nbsp;<br />
  상법, 전자상거래 등에서의 소비자 보호에 관한 법률 등 관련 법령의 규적에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 이 경와 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 다음과 같습니다.</span></span>
</p>
<p style="text-align: justify;">
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">① 표시.광고에 관한 기록 : 6개월 (전자상거래등에서의 소비자보호에 관한 법률)&nbsp;<br />
  ② 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)<br />
  ③ 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)<br />
  ④ 소비자의 불만 또는 분쟁처리에 관한 기록: 3년 (전자상거래등에서의 소비자보호에 관한 법률)<br />
  ⑤ 웹사이트 방문기록 : 3개월 (통신비밀보호법)</span></span>
</p>
<p style="text-align: justify;">
  &nbsp;
</p>
<p style="text-align: justify;">
  <span style="font-size:14px;"><span style="font-family:tahoma,geneva,sans-serif;">기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.&nbsp;<br />
  1.개인정보침해신고센터 (www.1336.or.kr/국번없이 118)&nbsp;<br />
  2.정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)&nbsp;<br />
  3.대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)&nbsp;<br />
  4.경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)</span></span>
</p>
<p style="text-align: justify;">
  &nbsp;
</p>
<p style="text-align: justify;">
  &nbsp;
</p>
<p style="text-align: justify;">
  &nbsp;
</p>
<p style="text-align: justify;">
  &nbsp;
</p>

                               </div>
                           </li>
                              </div>
                          </li>


              </ul>                                            

                                  <br><br>
<b onclick="location.href='/user/sign_up'"  class="btn btn-large btn-block btn-inverse" style="font-weight:bold;">위 개인정보 취급 방침을 모두 읽었으며 약관에 동의합니다</b>
        </div>
    </div><!-- work -->


      </div>
    </div><!-- about -->
    
  </div><!-- continer -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</center>
<script>
        $( function() {
                /*
                - how to call the plugin:
                $( selector ).cbpNTAccordion( [options] );
                - destroy:
                $( selector ).cbpNTAccordion( 'destroy' );
                */

                $( '#cbp-ntaccordion' ).cbpNTAccordion();

        } );
</script>

<script type="text/javascript" charset="utf-8">
  if(!('placeholder' in document.createElement('input'))){
    $('.placeholder').ezpz_hint();
  }
</script>
<style type="text/css" media="all">
  input.ezpz-hint {
    color:#888;
    line-height:19px;
  }
</style>
