<style>
textarea{
border:0px !important;
margin:0px !important;
height:90% !important;
}

input{
border:0px !important;
margin:0px !important;
}
div.wrap{
border : 1px solid #CCC;
}
div.line{
width:100%;
border-bottom:1px solid #D6DCE9;
}
div.left{
background-color : #F5F7FA;
border-right:1px solid #D6DCE9;
color:#5D6D9A;
font-weight:bold;
font-size:15px;
line-height:60px;
padding:0 0 0 20px;
float:left;
width:20%;
min-width:80px;
border-bottom:1px solid #CCC;
height:60px;
}
div.right{
padding:0 0 0 10px;
line-height:60px;
float:left;
width:75%;
border-bottom:1px solid #CCC;
height:60px;
}
div.detailleft{
background-color : #F5F7FA;
border-right:1px solid #D6DCE9;
color:#5D6D9A;
font-weight:bold;
font-size:15px;
line-height:60px;
padding:0 0 0 20px;
float:left;
width:20%;
min-width:80px;
border-bottom:1px solid #CCC;
height:200px;
}
div.detailright{
padding:0 0 0 10px;
line-height:60px;
float:left;
width:75%;
border-bottom:1px solid #CCC;
height:200px;

}
div.clear{
clear:both;
}
</style>
    <div class="container">
      <!-- 배너자리시작! -->
      <center>
      <div  style="max-width:auto; height:90px; border: 3px solid;">
        배너자리
      </div>
      </center>
      <!-- 배너자리끝! -->
        <center>
      <br>
      <br>
      <br>
        <div style="height:14px;">
      글쓰기  반려동물임상 | 산업동물임상 | 공무원 | 일반업체 | 기타 구직글보기
      </div>
      </center>
      <br>
      <br>
      <br>
      <div class="demo-row">
        <div class="demo-content-wide">
        <form action ="/job/write_process" method="POST">
        <div class = "wrap">
          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            분야
          </div>
          <div class ="right">
<select type="text" name="category" id="myDropdown" style="border:0px;"> 
  <option val="반려동물임상">반려동물임상</option>
  <option val="산업동물임상">산업동물임상</option>
  <option val="공무원">공무원</option>
  <option val="일반업체">일반업체</option>
  <option val="기타">기타</option>
</select>
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            제목 

          </div>
          <div class ="right">
          <input name="title" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>


          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            담당업무

          </div>
          <div class ="right">
          <input name="each" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            근무시간
          </div>
          <div class ="right">
          <input name="hour" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            직장명 
          </div>
          <div class ="right">
          <input name="name" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            근무지주소
          </div>
          <div class ="right">
          <input name="address" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            모집인원
          </div>
          <div class ="right">
          <input  name="to" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            급여
          </div>
          <div class ="right">
          <input name="pay" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            응시자격
          </div>
          <div class ="right">
          <input name="qualification" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            경력사항
          </div>
          <div class ="right">
          <input name="experience" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            우대조건
          </div>
          <div class ="right">
          <input name="favorite" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            전화번호
          </div>
          <div class ="right">
          <input name="tel" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            핸드폰 번호
          </div>
          <div class ="right">
          <input name="hp" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            채용방법
          </div>
          <div class ="right">
          <input name="method" type="text" placeholder="내용을 입력해주십시오" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="left">
            마감일
          </div>
          <div class ="right">
          <input  name="dead_line" placeholder="내용을 입력해주십시오" type="text" style="width:90%;">
          </div>
          </div>
          <div class = "clear">
          </div>

          <div class = "line"> <!-- 줄바꾸기 --> <div class ="detailleft" >
            세부사항
          </div>
          <div class ="detailright">
          <textarea name="detail" type="text" style="width:90%;"> </textarea>
          </div>
          </div>
          <div class = "clear">
          </div>
        </div>
            <br>
            <div style="float:left;">  
            <button class="btn btn-small" type="button" onclick="location.href='/user/logout'"><span class="fui-search"> 목록</span></button>
            </div>
            <div style="float:right;">
            <input class="btn btn-small" type="submit" value="작성완료">
            </div>
        </form>
        </div>
      </div>
    </div>



<script>
  $("#myDropdown").prop("selectedIndex", -1);
</script>
